.carrinho
  display: none

.produtocarrinho
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  border-bottom: 1px solid #999
  padding: 15px 0 15px 0
  margin: 0 148px 0px 148px
  align-items: center

.produtocarrinho img
  width: 55px
  height: 90px

.remover
  width: 25px
  fill: #aa1e1e

.nomecarrinho, .precounidade, .produtoprecototal
  font-weight: bold
