.carousel
  position: relative
  margin: auto

  .carousel-items
    position: relative
    pointer-events: none

  .imagem
    display: none

  .imagem img
    width: 100%

  .anterior, .proximo
    cursor: pointer
    position: absolute
    top: 52%
    width: auto
    margin-top: -69px
    padding-inline: 10px
    color: white
    font-weight: bold
    font-size: 48px
    transition: 0.6s ease
    border-radius: 3px 0 0 3px
    user-select: none
    z-index: 10
    background: transparent
    border: none
    pointer-events: auto

  .anterior
    left: 0

  .anterior:hover, .proximo:hover
    color: #999
    transition: color 0.3s ease

  .proximo
    right: 0
    border-radius: 3px 0 0 3px

  .botaopreto
    color: #202529

  .botaobranco
    color: white

  .botaopreto:hover, .botaobranco:hover
    color: #999

  .indicadores
    position: relative
    bottom: 35px
    text-align: center

  .indicador
    cursor: pointer
    height: 4px
    width: 40px
    margin: 0 4px
    background-color: #dcdedd
    display: inline-block
    transition: background-color 0.6s ease

  .indicador:hover, .ativo
    background-color: #202529

@keyframes fade
  from
    opacity: 0.4
  to
    opacity: 1

.fade
  animation-name: fade
  animation-duration: 1.0s
