footer
  background-color: #202529
  color: white
  flex-direction: column

  .links, .contatos
    display: flex
    gap: 40px
    font-size: 18px
    justify-content: center
    padding: 20px

  .links li, .contatos li
    list-style-type: none

  .link
    cursor: pointer

  .links li:hover
    text-decoration: underline

  .links li:active
    text-decoration: none

  .separador
    border: 1px solid #99999962

  .espacador
    background-color: white
