.cadastro
  display: none
  flex-wrap: wrap
  flex-direction: column
  row-gap: 15px
  padding-inline: 153px
  margin: 40px 0 40px 0

  label
    display: block

  input
    padding: 9px
    border: 1px solid #dcdedd
    outline: none
    border-radius: 7px
    font-size: 20px

#listaestados
  position: absolute
  top: 100%
  left: 0
  width: 100%
  background-color: white
  border: 1px solid #dcdedd
  border-radius: 7px
  max-height: 150px
  overflow-y: auto
  display: none
  z-index: 1000
