header
  background-color: #202529
  color: white
  padding: 20px
  height: 100px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: center
  justify-content: space-between

  .logo, .perfil img
    width: 100px
    height: 100%

  form
    display: flex
    flex-direction: row
    align-items: center

    input
      outline: none
      width: 180px
      height: 24px
      padding: 7px
      border-radius: 5px
      margin-right: 5px
      font-size: medium

    button
      cursor: pointer
      width: 40px
      height: 40px
      padding: 5px
      border-radius: 10px
      background-color: #202529
      border-color: white

  ul
    display: flex
    flex-direction: row
    list-style-type: none

    li
      margin-right: 18px
      cursor: pointer
