.fundoconstrucao
  display: none
  position: fixed
  z-index: 9999
  left: 0
  top: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.7)
  overflow: auto
  align-items: center
  justify-content: center

.construcao
  padding: 20px
  text-align: center
  border-radius: 8px
  background-color: white
  color: #202529
  box-shadow: 0 8px 20px rgba(0,0,0,0.3)
  max-width: 700px
  margin: 16px

#construcao
  width: 100%
  max-width: 700px

.construcao button
  margin-top: 20px
  padding: 10px 15px
  border-radius: 10px
  color: white
  background-color: #202529
  border: none
  cursor: pointer

#construcao
  width: 100%
  max-width: 700px
