.fundoconstrucao
  display: none
  position: fixed
  z-index: 9999
  left: 0
  top: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.7)
  overflow: auto
  align-items: center
  justify-content: center

.construcao
  padding: 20px
  text-align: center
  border-radius: 8px

#construcao
  width: 100%
  max-width: 700px
