*
{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

header
{
    background-color: #202529;
    color: white;
    padding: 20px;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logo, .perfil img
{
    width: 100px;
    height: 100%;
}

header form
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header form input
{
    outline: none;
    width: 180px;
    height: 24px;
    padding: 7px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: medium;
}

header form button, .produto button, .scrollpagina
{
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    background-color: #202529;
    border-color: white;
}

header form button:active, .produto button:active, .produto button a:active, .cadastro button:active, .verperfilcompleto:active, .scrollpagina:hover
{
    background-color: white;
    color: #202529;
    border-color: #202529;
    text-decoration: none;
}

header form button svg
{
    color: white;
    width: 20px;
    height: 20px;
}
  
header form button:active svg
{
    color: #202529;
}

header ul
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

header ul li
{
    margin-right: 18px;
    cursor: pointer;
}

header ul li:last-child
{
    margin-right: 0px;
}

header ul li svg
{
    width: 40px;
    height: 40px;
    color: white;
}

header ul li svg:hover
{
    color: #999;
}

header ul li svg:active
{
    color: #5085ca;
}

.abrirmenu, .verperfil
{
    position: relative;
    display: inline-block;
}
  
.menu, .perfil
{
    visibility: hidden;
    font-weight: 500;
    width: 110px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #202529;
    text-align: center;
    border-radius: 6px;
    padding: 12px 0;
    position: absolute;
    z-index: 1;
    top: 95%;
    right: 20%;
    font-size: 15px;
    line-height: 30px;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 1s;
    cursor: default;
}

.menu p
{
    cursor: pointer;
}

.perfil
{
    width: 225px;
    line-height: 20px;
    right: 147%;
    top: -40%;
}

.perfil img
{
    border-radius: 100%;
    object-fit: cover;
}
  
.menu::after, .perfil::after
{
    content: "";
    position: absolute;
    bottom: 100%;
    right: 10%;
    margin-right: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

.perfil::after
{
    left: 100% !important;
    top: 21px !important;    
    border-color: transparent transparent transparent white !important;
}
  
.mostrarmenu, .mostrarperfil
{
    visibility: visible;
    opacity: 0.9;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 1s;
}
 
@-webkit-keyframes fadeIn
{
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn
{
    from {opacity: 0;}
    to {opacity: 1;}
}

.verperfil:hover, .alterarsenha:hover, .logout:hover
{
    background-color: #202529;
    color: white;
}

.verperfilcompleto
{
    font-size: 15px !important;
    margin-top: 10px;
}

.carousel
{
    position: relative;
    margin: auto;
}

.imagem
{
    display: none;
}

.imagem img
{
    width: 100%;
}

.anterior, .proximo
{
    cursor: pointer;
    position: absolute;
    top: 52%;
    width: auto;
    margin-top: -69px;
    padding-inline: 10px;
    color: white;
    font-weight: bold;
    font-size: 48px;
    transition: 0.6s ease;
    border-radius: 3px 0 0 3px;
    user-select: none;
}

.anterior:hover, .proximo:hover, .botaopreto:hover, .botaobranco:hover
{
    color: #999;
}

.proximo
{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.botaopreto
{
    color: #202529;
}

.botaobranco
{
    color: white;
}

.indicadores
{
    position: relative;
    bottom: 35px;
    text-align: center;
}

.indicador
{
    cursor: pointer;
    height: 4px;
    width: 40px;
    margin: 0 4px;
    background-color: #dcdedd;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.indicador:hover, .ativo
{
    background-color: #202529;
}

.fade
{
    animation-name: fade;
    animation-duration: 1.0s;
}

@keyframes fade
{
    from {opacity: .4}
    to {opacity: 1}
}

.produtos
{
    bottom: 30px;
    position: relative;
}

.produtos h2, .carrinho h2, #enviado, .carrinhovazio
{
    margin: 10px 0 10px 0;
    font-weight: 600;
    font-size: 50px;
}

.produtos h2, .carrinho h2, .produtos ul, .carrinhovazio
{
    padding-inline: 150px;
}

.produtos nav
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

.produto
{
    background-color: #eeeeee;
    padding: 20px;
}

.produto img
{
    object-fit: cover;
    width: 300px;
    height: 500px;
    margin-bottom: 10px;
}

.produto p
{
    line-height: 25px;
}

.descricao, .preco
{
    font-weight: bold;
}

.descricaotamanho
{
    display: none;
}

.produto button
{
    width: 300px;
    height: 60px;
    font-size: x-large;
    color: white;
    margin-top: 10px;
}

.produto button a
{
    color: white;
    text-decoration: none;
}

.produtos ul
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-top: 30px;
}

.produtos ul li
{
    padding: 8px;
    cursor: pointer;
    border: 1px solid;
    border-color: #eeeeee;
}

.produtos ul li:active, .produtos ul li:first-child:active
{
    color: #202529;
    background-color: #5085ca;
    border-color: #202529;
}

.produtos ul li:first-child
{
    border-radius: 5px 0 0 5px;
    color: white;
    background-color: #202529;
    border-color: #5085ca;
}

.produtos ul li:last-child
{
    border-radius: 0 5px 5px 0;
}

.favorito
{
    width: 40px;
    color: #cf3535;
    float: right;
    position: relative;
    bottom: 5px;
    cursor: pointer;    
}

.carrinho
{
    display: none;
}

.carrinhovazio
{
    font-size: 30px !important;
    margin-top: 30px !important;
}

.produtocarrinho
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #999;
    padding: 15px 0 15px 0;
    margin: 0 148px 0px 148px;
    align-items: center;
}

.produtocarrinho:last-child
{
    border-bottom: none;
    padding-bottom: 0;
}

.produtocarrinho img
{
    width: 55px;
    height: 90px;
}

.produtocarrinho h3
{
    font-size: 25px;
}

.remover
{
    width: 25px;
    fill: #aa1e1e;
    cursor: pointer;
}

.remover:hover
{
    fill: #999;
}

.nomecarrinho, .precounidade, .produtoprecototal
{
    font-weight: bold;
}

.produtoquantidade, .tamanhoproduto, .precounidadecarrinho, .precototalcarrinho
{
    text-align: center;
    line-height: 55px;
}

.quantidade, .tamanho, .precounidade, .produtoprecototal
{
    font-size: 20px;
}

.produtoquantidade input
{
    border: none;
    box-shadow: 0 0 0 0.05rem #eeeeee;
    border-radius: 10px;
    text-align: center;
    width: 38px;
    padding: 1px;
    background-color: #eeeeee;
    outline: none;
}

.erroquantidade
{
    color: #aa1e1e;
    font-size: 13px;
    line-height: 0;
}

.cadastro
{
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 15px;
    padding-inline: 153px;
    margin: 40px 0 40px 0;
}

.cadastro label
{
    display: block;
}

.cadastro input
{
    padding: 9px;
    border: 1px solid #dcdedd;
    outline: none;
    border-radius: 7px;
    font-size: 20px;
}

.camposcliente
{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    row-gap: 15px;
}

.camposcliente label
{
    bottom: 5px;
    position: relative;
    font-size: 17px;
}

#primeironome, #segundonome, #email
{
    width: 480px;
}

#cidade
{
    width: 640px;
}

#estado, #cep
{
    width: 420px;
}

.campoemail
{
    display: table;
}

#email
{
    border-left: 0;
    border-radius: 0 7px 7px 0;
}

.at
{
    background: #fcf9f9;
    border: 1px solid #dcdedd;
    display: table-cell;
    padding: 12.81px;
    border-radius: 7px 0 0 7px;
    text-align: center;
    vertical-align: middle;
    color: #202529;
    white-space: nowrap;
    width: 20px;
    float: left;
}

#campoestado
{
    position: relative;
    width: 420px;
}

#estado
{
    display: block;
    padding: 9px 30px 9px 9px;
    border: 1px solid #dcdedd;
    outline: none;
    border-radius: 7px;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
}

.seta
{
    position: absolute;
    top: 69%;
    right: 5px;
    transform: translateY(-50%) rotate(90deg);
    pointer-events: none;
    font-size: 28px;
    font-weight: bolder;
    color: #999;
}

#listaestados
{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #dcdedd;
    border-radius: 7px;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    z-index: 1000;
}

#listaestados div
{
    padding: 9px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#listaestados div:hover
{
    background-color: white;
}

#listaestados div.selecionado
{
    background-color: #202529;
    color: white;
}

#checkboxtermos
{
    display: flex;
    gap: 10px;
    align-items: center;
}

.termos p
{
    font-size: 18px;
}

.cadastro input[type="checkbox"]
{
    appearance: none;
    border-radius: 0.25rem;
    border: 1px solid #dcdedd;
    outline: none;
    width: 1.15rem;
    height: 1.15rem;
    position: relative;
}

.cadastro input[type="checkbox"]::before
{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.75rem;
    height: 0.75rem;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: translate(-50%, -50%) scale(0);
    transform-origin: center;
    transition: 0.125s transform ease-in-out;
    box-shadow: inset 2rem 2rem white;
}

.cadastro input[type="checkbox"]:checked
{
    background-color: #202529;
}

.cadastro input[type="checkbox"]:checked::before
{
    transform: translate(-50%, -50%) scale(1);
}

.cadastro button, .verperfilcompleto
{
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    background-color: #202529;
    border-color: white;
    cursor: pointer;
}

#enviado
{
    text-align: center;
    font-size: 35px;
    margin-bottom: 35px;
}

.errocadastro
{
    visibility: hidden;
    font-weight: 450;
    background-color: #dcdedd;
    color: #202529;
    text-align: center;
    max-width: fit-content;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    font-size: 15px;
    animation: fadeIn 0.5s;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.32);
}

.errocadastro::after
{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #dcdedd transparent;
    filter: drop-shadow(2px 0 rgba(0, 0, 0, 0.32));
    border-radius: 3px;
}

.mostrarerrocadastro
{
    visibility: visible;
    opacity: 0.9;
    animation: fadeIn 0.5s;
    margin-top: 6px;
    margin-left: 10%;
}

@keyframes fadeIn
{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#erroestado
{
    margin-left: 6% !important;
}

#errocep
{
    margin-left: 7% !important;
}

#errotermos
{
    margin-top: 50px !important;
    margin-left: 10px !important;
}

footer
{
    background-color: #202529;
    color: white;
    flex-direction: column;
}

.links, .contatos
{
    display: flex;
    gap: 40px;
    font-size: 18px;
    justify-content: center;
    padding: 20px;
}

.links li, .contatos li
{
    list-style-type: none;
}

.link
{
    cursor: pointer;
}

.links li:hover
{
    text-decoration: underline;
}

.links li:active
{
    text-decoration: none;
}

.separador
{
    border: 1px solid #99999962;
}

.espacador
{
    background-color: white;
}

.scrollpagina
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 14px;
    right: 14px;
}

.scrollpagina.inferior::after
{
    content: "↓";
    font-size: 42px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    transition: margin-top 350ms;
}

.scrollpagina.inferior:hover::after
{
    margin-top: 6px;
    font-size: 42px;
    font-weight: bold;
    color: #202529;
}

.scrollpagina.topo::after
{
    content: "↑";
    font-size: 42px;
    font-weight: bold;
    color: white;
    transition: margin-top 350ms;
}

.scrollpagina.topo:hover::after
{
    margin-top: -12px;
    font-size: 42px;
    font-weight: bold;
    color: #202529;
}

.fundoconstrucao
{
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
    align-items: center;
    justify-content: center;
}

.construcao
{
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

#construcao
{
    width: 100%;
    max-width: 700px;
}

@media (min-width: 614px) and (max-width: 833px)
{
    header
    {
        height: 100%;
        margin: 0;
    }

    .logo
    {
        bottom: 20px;
    }

    .anterior, .proximo
    {
        padding-inline: 7px;
        font-size: 42px;
        top: 60%;
    }

    .indicadores
    {
        bottom: 30px;
    }

    .indicador
    {
        height: 4px;
        width: 35px;
        margin: 0 4px;
    }

    .produtos h2, .carrinho h2, .carrinhovazio
    {
        text-align: center;
        padding-inline: 0;
    }

    .produtos ul
    {
        justify-content: center;
    }

    .produtos ul li
    {
        font-size: 23px;
        padding: 15px;
    }

    .listacarrinho, .cadastro
    {
        padding-inline: 100px;
    }

    .produtocarrinho
    {
        display: flex;
        margin: 0;
        row-gap: 0;
    }

    .produtocarrinho img
    {
        width: 52px;
        height: 77px;
    }

    .produtocarrinho h3
    {
        font-size: 33px;
    }

    .remover
    {
        width: 27px;
    }

    .nomecarrinho
    {
        font-size: 20px;
    }

    .produtoquantidade, .tamanhoproduto, .precounidadecarrinho, .precototalcarrinho
    {
        font-size: 35px;
    }

    .quantidade, .tamanho, .precounidade, .produtoprecototal
    {
        font-size: 25px;
    }

    .produtoquantidade input
    {
        width: 42px;
    }

    .erroquantidade
    {
        font-size: 15px;
        margin-top: 10px;
    }

    .cadastro input, #cidade, #primeironome, #segundonome
    {
        width: 400px;
    }

    #email
    {
        width: 387px;
    }

    .links, .contatos
    {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .espacador
    {
        display: none;
    }
}

@media (max-width: 613px)
{
    header
    {
        height: 100%;
    }

    .logo
    {
        top: 25px;
        position: relative;
    }

    .perfil
    {
        left: 147%;
        top: -40%;
    }

    .perfil::after
    {
        width: 0  !important;
        border-color: transparent white transparent transparent !important;
        left: -2% !important;
        margin-left: -5px !important;
    }

    .anterior, .proximo
    {
        padding-inline: 10px;
        font-size: 32px;
        top: 64%;
    }

    .indicadores
    {
        bottom: 33px;
    }

    .indicador
    {
        height: 4px;
        width: 30px;
        margin: 0 4px;
    }

    .produtos h2, .carrinho h2, .carrinhovazio
    {
        text-align: center;
        padding-inline: 0;
    }

    .produtos ul
    {
        justify-content: center;
    }

    .produtos ul li
    {
        font-size: 30px;
        padding: 20px;
    }

    .listacarrinho, .cadastro
    {
        padding-inline: 50px;
    }

    .produtocarrinho
    {
        display: flex;
        margin: 0;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        row-gap: 0;
    }

    .produtocarrinho img
    {
        width: 45px;
        height: 70px;
    }

    .produtocarrinho h3
    {
        font-size: 37px;
    }

    .remover
    {
        width: 35px;
    }

    .nomecarrinho
    {
        font-size: 30px;
    }

    .produtoquantidade, .tamanhoproduto, .precounidadecarrinho, .precototalcarrinho
    {
        font-size: 44px;
    }

    .quantidade, .tamanho, .precounidade, .produtoprecototal
    {
        font-size: 28px;
    }

    .produtoquantidade input
    {
        width: 50px;
    }

    .erroquantidade
    {
        font-size: 22px;
        margin-top: 10px;
    }

    .cadastro input, #cidade, #primeironome, #segundonome
    {
        width: 55vh;
    }

    #email
    {
        width: 327px;
    }

    #cep
    {
        width: 358px;
    }

    .links, .contatos
    {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .espacador
    {
        display: none;
    }
}
